/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */


.MMM-Events .small.bright {
  color: #FFFFFF;             /* Color the title of the event. Default is white. */
  text-align: left;           /* Align the title of the event. left, center, right */
}

.MMM-Events .xsmall.bright {
  color: #FFFFFF;             /* Color the information for the event. Default is white. */
  text-align: left;           /* Align the information for the event. left, center, right */
}

.MMM-Events .list-left {
    width:auto;
    padding: 0px;             /* Nudge picture */
    float: left;              /* Align the picture for the event. left or right */
}
